* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.menu img {
    width: 100px;
    float: left;
    padding: 10px;
}

header {
    background-color: rgb(95, 142, 231);
    width: 100%;
    clear: both;
    content: "";
    display: table;
}

.menu {
    margin: 0 auto;
    width: 1100px;
    font-size: 20px;
}

nav {
    float: left;
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 80px;
    padding: 30px 0px;
    float: left;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.menu li:hover {
    transform: scale(1.2);
}

.recomendaciones h1 {
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 40px;
    text-transform: uppercase;
}

.recomendaciones {
    border-radius: 25px;
    width: 70%;
    text-align: center;
    margin: 10px 20px;

}

.iniciar_sesion {
    text-align: center;
    border: #000 solid;
    left: 200px;
    right: 300px;
    top: 50px;
    position: relative;
    padding: 90px;
    width: 900px;
    background-color: bisque;

}

.iniciar_sesion span {
    font-size: 30px;
    color: #000;
    top: 10px;
    text-transform: uppercase;

}

.tendencias {
    padding: 10px;
    height: 900px;
    width: 20%;

}

.tendencias h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

}

.tendencias img {
    width: 150px;
    display: flex;
    margin: auto;
}

.inicio {
    justify-content: space-between;
    display: flex;
}

.inicio img {
    padding: 5px;
    transition: all 300ms ease;
    border-radius: 30px;
}

.inicio img:hover {
    transform: scale(1.1);
}

.recomendaciones img {
    width: 25%;
    height: 40%;
}

footer {
    background-color: rgb(95, 142, 231);
    padding: 10px;
    width: 100%;
}

footer span {
    text-transform: uppercase;

}

.pie {
    width: 1100px;
    text-align: center;
}

/* @media screen (max-width: 480px ) {} */