@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");

/* estilos generales */
* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
}

.boton {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 1px 1px 7px black;
  color: white;
  background-color: rgb(190, 190, 190);
  transition: all 300ms ease;
  margin: 20px 0 20px 0;
  border: none;
}

.boton:hover {
  background-color: rgb(140, 140, 140);
  border-radius: 20px 20px 20px 20px;
}
.btn {
  padding: 5px;
}
/* estilos para el menu de navegacion */

header {
  position: fixed;
  top: 0;
  z-index: 101;
}

#boton-ingresar {
  border-radius: 10px;
  border: 1px solid;
}
#boton-ingresar:hover {
  background-color: black;
  color: white;
}
header .logo-nav {
  margin: 0;
  height: 65px;
  width: 65px;
}
header .contenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);
  width: 100vw;
  height: 10vh;
  
}
header a {
  text-decoration: none;
  padding: 5px 12px;
  font-weight: bold;
  color: black;
  transition: all 300ms ease;
}

header a:hover {
  transform: scale(1.2);
  color: black;
}

/* estilos para el carrusel, novedades */
.contenedor-carrusel {
  max-width: 400px;
  margin: auto;
}

#novedades {
  text-align: center;
  margin-top: 80px;
}

#novedades h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contenedor-carrusel img {
  height: 450px;
  width: 250px;
  border-radius: 10px;
}

/* estilos para las categorias destacadas */
#categorias {
  text-align: center;
}

.contenido {
  padding: 10px 0px 0;
  max-height: 270px;
  overflow: hidden;
  transition: max-height 1s;
  text-align: justify;
  margin-top: 10px;
  flex-direction: column;
  margin: 0;
  display: none;
}

.mostrar {
  display: block;
}

.contenido li {
  list-style: none;
}

.boton-funcionJS {
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

#categorias .contenedor h2 {
  background-color: rgb(230, 230, 230);
}

.tematicas {
  display: flex;
  margin: auto;
  max-width: 100%;
}

#categorias .boton {
  margin-top: 30px;
}
.cuadros {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.cuadros .cuadritos {
  padding: 30px;
}
.logo img {
  height: 150px;
  width: 120px;
}

.logo {
  width: 150px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.texto {
  display: grid;
}

.texto a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}

.texto a:hover {
  transform: scale(1.3);
}

#primer-cuadro {
  background-color: red;
  filter: brightness(95%);
}

#segundo-cuadro {
  background-color: green;
  filter: brightness(95%);
}

#tercer-cuadro {
  background-color: blue;
  filter: brightness(95%);
}

#cuarto-cuadro {
  background-color: yellow;
  filter: brightness(95%);
}

#quinto-cuadro {
  background-color: violet;
  filter: brightness(95%);
}

/* estilos para las recomendaciones */

#recomendaciones h2 {
  margin: 15px 0px 15px 0px;
}

#recomendaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recomendaciones .contenedor {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#recomendaciones img {
  width: 130px;
  height: 240px;
}

.cartas h3 {
  font-size: 16px;
  margin: 10px 0;
}

.cartas {
  margin: 40px;
  transition: all 300ms ease;
}

.cartas:hover {
  transform: scale(1.1);
}

#primer-boton {
  transform: translate(0px, 17px);
}

#ultimo-boton {
  transform: translate(0px, 17px);
}

#segundo-boton {
  transform: translate(0px, 17px);
}

/* estilos para los tips de lectura */
.caja {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
}
.caja h2 {
  background-color: rgb(230, 230, 230);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.row {
  justify-content: center;
}
.card-body{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.card {
  text-align: center;
}
.card-header {
  font-size: 1.5em;
  text-transform: uppercase;
  color:rgb(118, 169, 228);
}
.card-title {
  font-weight: bolder;
}
/* estilos para el pie de pagina  */
.container-fluid {
  z-index: 100;
}
.pie {
  background-color: rgb(230, 230, 230);
}

/* estilos para el login */

#pagina-login {
  background-color: rgb(200, 200, 200);
}

#login .text-end img {
  width: 68px;
}

#login .col img {
  width: 35px;
  border-radius: 50%;
}

#login .bg {
  background-image: url(../imagenes/fondo-libro.jpg);
  background-position: center center;
}

#login form button {
  background-color: rgb(190, 190, 190);
  border: none;
}

#login form button:hover {
  background-color: rgb(140, 140, 140);
}

#login #iniciar-sesion-redes {
  text-transform: uppercase;
  font-weight: 600;
}
#login a {
  text-decoration: none;
}

/* estilos para los mas leidos */

#mas-leidos {
  margin: auto;
  max-width: 1100px;
  text-align: center;
  margin-top:80px;
}

#mas-leidos img {
  width: 140px;
  height: 240px;
}

#mas-leidos h2 {
  text-transform: uppercase;
  margin-top: 10px;
}

#mas-leidos .titulo-categoria {
  text-align: start;
  margin: 15px 50px 0 45px;
  border: 1px solid none;
  background-color: rgb(230, 230, 230);
  width: 280px;
  height: 35 px;
  color: gray;
  border-radius: 10px;
}

.titulo-categoria h4 {
  text-align: center;
}

#mas-leidos .contenedor {
  flex-direction: row;
  display: flex;
}

/* media quare para hacer la pagina responsive */

@media (min-width: 600px) {
  #tematicas {
    display: grid;
  }
}

@media (max-width: 650px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  header .contenedor {
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
  }
  header .logo-nav {
    display: none;
  }
  #novedades {
    margin-top: 60px;
  }
  .cuadros {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #recomendaciones .contenedor {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }

  .tematicas {
    display: flex;
    flex-wrap: wrap;
  }

  #mas-leidos .contenedor {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-heigth: 1140px) {
  header {
    margin-bottom: 100px;
  }
  
}
